<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  {% stylesheets
  'css/bootstrap.min.css'
  'css/main.css'
  filter='cssrewrite' output='css/compiled/app.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="container">
  
  {% block body %}{% endblock %}
  {% block javascripts %}
  {% endblock %}
  {% javascripts
  'js/jquery.min.js'
  'js/bootstrap.min.js'
  output='js/compiled/app.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
</body>
</html>
