{% extends '::base.html.twig' %}

{% block title %}Add a exam{% endblock %}

{% block body %}
  <h1>Add an exam</h1>

  {{ form_start(form) }}
  {{ form_rest(form) }}
  <input class="btn btn-primary btn-block" type="submit" name="_save" value="Add">
  {{ form_end(form) }}
{% endblock %}
