<!doctype HTML>
<html>
    <head></head>
    <body>
        <h1>Admin</h1>
        <ul>
            {% for admin in admins %}
                <li>{{ admin.firstName }} - {{ admin.lastName }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
