{% extends '::base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}
<div class="width-300 center-block">
  <h1 class="text-centered">Grades list</h1>
  <a class="btn btn-primary center-block" href="{{ path('grade_add') }}">Add</a>
  <ul class="center-block list-group">
    {% for grade in grades %}
    <li class="list-group-item">{{ grade.value }}
      <a class="badge" href="{{ path('grade_delete', {id: grade.id}) }}"> Delete
      </a>
    </li>

    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
