<!doctype HTML>
<html>
    <head></head>
    <body>
        <h1>Grade</h1>
        <ul>
            {% for grade in grades %}
                <li>{{ grade.value }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
